<RootPart xmlns="urn:kwsoft:mtext:tonic:dom" id="\library\Testing\Templates\Testing.template">
 <DataDefinition>
  <ParamDef name="data" ref="\\Testing\Data\testing.datamodel" dataMappingRef="" constantDataRef="">
   <Description></Description>
  </ParamDef>
 </DataDefinition>
 <UIContribution>
  <GuideArea>
   <ActionLink title="test" inputAreaGroupID="1"></ActionLink>
   <ContentLink targetId="zone1" dataNode="$data.zone1"></ContentLink>
  </GuideArea>
  <InputArea>
   <Field parentId="1" dataNode="$data.zone1"></Field>
   <Field parentId="2" dataNode="$data.zone2"></Field>
   <Field parentId="3" dataNode="$data.data1"></Field>
   <Field title="" parentId="4" dataNode="$data.data2"></Field>
  </InputArea>
 </UIContribution>
 <ModificationRights>
  <Allowed>
   <ModificationRight role="_EVERYONE_" operations="EDIT,INPUT"></ModificationRight>
  </Allowed>
  <Denied></Denied>
 </ModificationRights>
 <Document>
  <Section>
   <Style parentName="testing"></Style>
   <Container>
    <Par>
     <Span>
      <Data>$data.data1</Data>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Text></Text>
     </Span>
    </Par>
    <Par>
     <Span>
      <Data>$data.data2</Data>
      <Text></Text>
     </Span>
    </Par>
   </Container>
   <StaticContainer id="zone1">
    <Style>
     <RegionRef>zone1</RegionRef>
    </Style>
    <Par>
     <Span>
      <Data>$data.zone1</Data>
      <Text></Text>
     </Span>
    </Par>
   </StaticContainer>
   <StaticContainer>
    <Style>
     <RegionRef>zone2</RegionRef>
    </Style>
    <Par>
     <Span>
      <Data>$data.zone2</Data>
      <Text></Text>
     </Span>
    </Par>
   </StaticContainer>
  </Section>
 </Document>
</RootPart>